// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Color Scheme (Zero Waste):
$zw-red: #F99C80;
$zw-orange: #FFC286;
$zw-yellow: #FFF1AF;
$zw-green: #D4F3B7;
$zw-gray: #D9E3D1;
$zw-dark-gray: #66806A;
$yellow-main: rgb(255, 194, 134);

$theme-colors: (
  "primary":    $zw-gray,
  "secondary":  $secondary,
  "success":    $zw-green,
  "info":       $zw-yellow,
  "warning":    $zw-orange,
  "danger":     $zw-red,
  "light":      $light,
  "dark":       $dark
);
