// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Color Scheme (Zero Waste):
$zw-red: #F99C80;
$zw-gray: #D9E3D1;
$zw-orange: #FFC286;
$zw-yellow: #FFF1AF;
$zw-green: #c8e9a6;
$zw-blue: #b0dde9;
$zw-light: #FEFBE7;
$zw-dark: #383f39;
// $yellow-main: rgb(255, 194, 134);

//Zero Waste Color Scheme Semantic
$theme-colors: (
  "primary":    $zw-blue,
  "secondary":  $zw-gray,
  "success":    $zw-green,
  "info":       $zw-yellow,
  "warning":    $zw-orange,
  "danger":     $zw-red,
  "light":      $zw-light,
  "dark":       $zw-dark,
);
