<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2><%= @ingredients_pantries.each do |ingredients|%></h2>
      <p><%= %></p>
    </div>
  </div>
</div>
