<div class="background-home">
  <div class="card-trip">
    <% if @recipe.url_image.present? %>
      <%= image_tag(@recipe.url_image) %>
    <% else %>
      <img src="https://spoonacular.com/recipeImages/73420-312x231.jpg", class="picture mt-3"/>
    <% end %>
    <div class="card-trip-infos">
      <div>
        <h1>Recipe</h1>
        <div class="cards-margim">
          <div class="card-trip-center">
              <div class="card-trip-infos-center mt-4">
                <div class="infos" text>
                  <p><%= @recipe.name%></p>
                  <p><%= @recipe.description.html_safe%></p>
                  <a class="btn btn-ghost mt-5" href="https://spoonacular.com/#{@recipe.name}" target=”_blank”>Go to Recipe</a>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
