<div class="footer">
  <%#= image_tag "#", width: 50, class: "mt-2" %>
  <div class="footer-copyright">
    Zero Waste
  </div>
  <div>
    This project was built by women <i class="fas fa-heart"></i>
  </div>
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/akemi-hiruma" target=”_blank”><i class="fab fa-linkedin"></i></a>
    <a href="https://www.linkedin.com/in/bruna-suzuki-a430bb238" target=”_blank”><i class="fab fa-linkedin"></i></a>
    <a href="https://www.linkedin.com/in/erica-hery-park" target=”_blank”><i class="fab fa-linkedin"></i></a>
    <a href="https://www.linkedin.com/in/natalialimaa" target=”_blank”><i class="fab fa-linkedin"></i></a>
  </div>
</div>
