<div class="footer">
  <%#= image_tag "#", width: 50, class: "mt-2" %>
  <div class="footer-copyright">
    Zero Waste
  </div>
  <div>
    This project was built by women <i class="fas fa-heart"></i>
  </div>
  <div class="footer-links">
    <a href="linkedin.com/in/akemi-hiruma"><i class="fab fa-linkedin"></i></a>
    <a href="linkedin.com/in/bruna-suzuki-a430bb238"><i class="fab fa-linkedin"></i></a>
    <a href="linkedin.com/in/erica-hery-park"><i class="fab fa-linkedin"></i></a>
    <a href="linkedin.com/in/natalialimaa"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
