<div class="footer">
  <%= image_tag "8.png", width: 50, class: "mt-2" %>
  <div class="footer-copyright">
    HobbyShare
  </div>
  <div>
    This project was built by women <i class="fas fa-heart"></i>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
