<div class="navbar-zerowaste">
      <ul class="navbar-links">
        <%= link_to "#" do %>
          <li class="navbar-item">
            <i class="fas fa-home"></i>
            <p>home</p>
          </li>
        <% end %>

       <%= link_to "#" do %>
          <li class="navbar-item">
            <i class="fas fa-plus"></i>
              <p>Add</p>
          </li>
        <% end %>

         <%= link_to "#" do %>
          <li class="navbar-item">
            <i class="far fa-file-alt"></i>
                <p>Recipe</p>
          </li>
        <% end %>

         <%= link_to "#" do %>
          <li class="navbar-item">
           <i class="fas fa-apple-alt"></i>
             <p>Estoque</p>
          </li>
        <% end %>

      </ul>
</div>
