<div class="text-center mt-5 mb-5">
  <h1><strong>Hello user</strong></h1>
</div>
<div class="container home-grid">
  <div class="home-card">
    <i class="fas fa-user"></i>
    <p>User</p>
  </div>

  <div class="home-card">
    <i class="fas fa-user"></i>
    <p>User</p>
  </div>

  <div class="home-card">
    <i class="fas fa-user"></i>
    <p>User</p>
  </div>

  <div class="home-card">
    <i class="fas fa-user"></i>
    <p>User</p>
  </div>

  <div class="home-card">
    <i class="fas fa-user"></i>
    <p>User</p>
  </div>

<div class="home-card">
    <i class="fas fa-user"></i>
    <p>User</p>
  </div>

</div>
