<div class="text-center margin-home">
  <h1><strong>Hello user</strong></h1>
</div>
<div class="container home-grid mb-5">
  <div class="home-card">
    <i class="fas fa-user icon-big"></i>
    <p>User</p>
  </div>

  <div class="home-card">
    <i class="fas fa-upload icon-big"></i>
    <p>Add new ingredient</p>
  </div>

  <div class="home-card">
   <i class="fas fa-archive icon-big"></i>
    <p>Storage Recomendation</p>
  </div>

  <div class="home-card">
   <i class="fas fa-clipboard-list icon-big"></i>
    <p>Your food pantry</p>
  </div>

  <div class="home-card">
    <i class="fas fa-book icon-big"></i>
    <p>Recipes</p>
  </div>

<div class="home-card">
    <i class="fas fa-list icon-big"></i>
    <p>Checklist</p>
  </div>
</div>
