<div class="profile py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center mb-2">
            <h3>Edit profile</h3>
            <img src="https://source.unsplash.com/600x300/?student" alt="student dp"  class="img-cirlce" style="width:100%" >
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-3 mt-3"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Name</th>
                <td width="2%">:</td>
                <td>Fulano</td>
              </tr>
              <tr>
                <th width="30%">email</th>
                <td width="2%">:</td>
                <td>email@email.com</td>
              </tr>
              <tr>
                <th width="30%">phone number</th>
                <td width="2%">:</td>
                <td>........</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
