<div class="background-home">
  <div class="profile py-4">
    <div class="background-logo-favorite">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent text-center mt-2 mb-5">
                <h3>My Favorites</h3>
              </div>
              <%= render @recipes %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
