<div class="background-home">

<h1>Your Ingredients</h1>
<div class="list-user-ingredients">
  <%# @expiring.each do |ingredients|%>
  <div class="cards-margim">
    <div class="card-trip">
      <% @ingredients_pantries.each do |ingredients| %>
          <%# <div class="card-product pl-4 mx-1"> %>
            <img src="https://spoonacular.com/recipeImages/73420-312x231.jpg" />
            <div class="card-product-infos">
              <h2>Product name</h2>
              <p>Product description with <strong>relevant info</strong> only.</p>
              <div>
                <p><%=ingredients.ingredient.name %></p>
              </div>
            </div>
          <%# </div> %>
      <% end %>
    </div>
  </div>
   <%# end %>
</div>

<%# <div class="card-trip">
  <img src="https://images.pexels.com/photos/3673762/pexels-photo-3673762.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
</div> %>
