<h1>Your Ingredients</h1>
<div class="list-user-ingredients">
  <% @ingredients_pantries.each do |ingredients| %>
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <p><%=ingredients.ingredient.name %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
