<div data-controller="search" class="pt-5">

  <%= form_tag  ingredient_pantries_path, method: :get, class: "simple_form search css-form", data: { search_target: "form" } do %>
    <div class="search-form-control form-group">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control string required",
        placeholder: "Find an Ingredient",
        data: { search_target: "input", action: "input->search#update" }
      %>
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>

  <div class="background-logo">
    <h1 class= "mt-3"> Your Ingredients</h1>
  </div>
  <div class="list-user-ingredients mb-5">
    <div class="cards-margim">
      <%= render "ingredient_infos", ingredients: @ingredients_pantries %>
    </div>
</div>

<%# <div class="card-trip">
  <img src="https://images.pexels.com/photos/3673762/pexels-photo-3673762.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
  </div>
</div> %>
