.home-card {
  background-color: white;
  border: 2px solid #F99C80;
  display: flex;
  border-radius: 15%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $zw-red;
  justify-content: center;
  padding: 15px;
  height: 100px;
  width: 120px;
  p {
    margin: 0;
    font-size: 12px;
  }
  i {
    color: $zw-red;
  }
}

.icon-big{
  font-size: 1.5rem;
}

.icon-medium{
  font-size: 1.2rem;
}

.card-trip {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 5%;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
  a {
    color:black;
  }
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-weight: bold
}
.cards-margim {
  margin-bottom: 50px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

// card do edit profile
.card {
  border-radius: 4%;
}


.card-checklist {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 300px;
  height: 600px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.card-checklist-edit {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  width: 300px;
  height: 300px;
  margin-top: 220px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add-fav {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 3%;
  box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: contain;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.container-products {
  background-color:white;
  width: 81%;
  border-radius: 3%;
  position: absolute;
  top: 190px;
  left: 9%;
}

.product-card-links > a {
  color: black;
}

.product-card-links {
  position: absolute;
  right: 10px;
  bottom: 7px;
}

#card-product-margin {
  margin-bottom: 70px;
}

.best-before {
  color: red;
  font-weight: bold;
}
