.home-card {
  background-color: white;
  border: 2px solid #F99C80;
  display: flex;
  border-radius: 15%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $zw-red;
  justify-content: center;
  padding: 15px;
  height: 100px;
  width: 120px;
  p {
    margin: 0;
    font-size: 12px;
  }
  i {
    color: $zw-red;
  }
}

.icon-big{
  font-size: 1.5rem;
}

.card-trip {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: black;
  a {
    color:black;
  }
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.cards-margim {
  margin-bottom: 50px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
