.container {
  margin-top: 30px;
  width: 85%;
  height: 50px;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
    // color: $yellow-main;
    color: $zw-orange;
    text-align: center;
  }
}

//.body-container {
  //height: 100vh;
  //max-height: calc(100vh - 50px);
 // overflow-y: auto;
//}
