#tasks {
  margin-top: 20px;
  a {
color: #383f39;

  }
}

#tasks {
  li {
text-decoration: none;
list-style-type: none;
text-decoration-style: none;
  }
}

#tasks {
  .fas {
  margin-right: 5px;

  }
}

#tasks {
  .far {
  margin-right: 5px;

  }
}


.far {
  .fa-trash-alt{
  font-size: 4px;
  }
}

.search-form-control{
  .btn {
    border-radius: 20px;
  }
}
